:root {
    --primary: #222831;
    --secondary: #393E46;
    --steal: #00ADB5;
    --light: #EEEEEE;
    --roboto: 'Roboto', sans-serif;
}

body {
    background: var(--secondary);
    font-family: 'Poppins', sans-serif;
    color: var(--light);
    margin-top: 1rem;
}

.navbar {
    background: var(--primary);
}

.navbar-brand img {
    width: 70px;
}

.nav-link {
    color: var(--steal);
    margin-right: 1em !important;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--light);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 173, 181)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.autohide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.content-section {
    background: var(--primary);
    padding: 15px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}

@media (max-width: 767.98px) {
    body {
        margin-top: 5px;
    }

    .container {
        width: 100%;
        max-width: none;
        padding: 0;
    }

    .content-section {
        margin-bottom: 5px;
    }
}

.author-title {
    color: var(--steal);
}

a.author-title:hover {
    color: var(--light);
    text-decoration: none;
}

.article-title {
    color: var(--light);
}

a.article-title:hover {
    color: var(--steal);
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    border: 0.5px solid #9e9e9e;
    margin-right: 16px;
}

.article-img-sm {
    height: 50px;
    width: 50px;
    border: 0.5px solid #9e9e9e;
    margin-right: 8px;
    margin-bottom: 8px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #9e9e9e;
}

.article-metadata a:hover {
    color: var(--light);
    text-decoration: none;
}

.popular-posts {
    border-bottom: 1px solid #9e9e9e;
}

.eye {
    vertical-align: middle;
}

pre {
    background-color: #cccccc;
    padding: 12px;
}

code {
    font-size: 95%;
    color: var(--steal);
}